a{
  position: absolute;
        top: -2%;
        left: 1%;
        display: block;
        color: white;
        font-size: 80px;
        font-weight: 800;
        margin-left: 27px;
        transition: color 0.5 sease;
        text-decoration: none;

}
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 0;
  }

  body {
    background-image: url("mesa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  section#formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }